@charset "EUC-KR";

body {
	background: white;
	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
}



#left {
	position: absolute;
	top: 50%;
	left: 0px;
	border: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
}

td {
	padding: 0px;
}

.calendar-container {
	position: relative;
	width: 450px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #e66b6b;
	color: #fff;
	padding: 3em 2em;
}

.day {
	font-size: 5em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 3em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {

	text-align: center;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
}

.current-day {
	color: #e66b6b;
}

.prev-month, .next-month {
	color: #cacaca;
}

.ring-left, .ring-right {
	position: absolute;
	top: 170px;
}

.ring-left {
	left: 2em;
}

#right {
	position: absolute;
	top: 50%;
	right: 0px;
	border: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ring-right {
	right: 2em;
}

.ring-left:before, .ring-left:after, .ring-right:before, .ring-right:after
	{
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px
		rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 8px;
	height: 32px;
	width: 8px;
}

.outLine {
	margin-left: 550px;
	height: 600px;
	width: 610px;
	background-color: #eff1f2;
	border-radius: 3em;
}

.detail, .detail tr, .detail td {
	text-align: center;
	width: 600px;
	font-size: large;
}

.detail td {
	height: 50px;
}

.void {
	height: 30px;
}

.rank {
	color: gray;
}

.title {
	font-size: xx-large;
	color: orange;
}

#result {
	color: red;
}

h1 {
	font-size: xx-large;
}

#dateArea{
	width:56px;
	height : 37px;
}